<template>
  <div id="post">
    <h4>#{{ id }} : {{ fecha }}</h4>
    <p>{{ contenido }}</p>
  </div>
</template>

<script>
export default {
  name: 'Post',
  data() {
    return {};
  },
  props: {
    id: Number,
    fecha: Number,
    contenido: String
  }
};
</script>

<style></style>
